<!-- Aba acessada pós login -->
{% extends 'base.html' %}

{% block title %}Criptografia{% endblock %}
{% block content %}

<div class="container" id="todo">
    <label for="exampleFormControlTextarea1">Escreva:</label>
    <textarea class="form-control" id="Textarea1" rows="6"></textarea>
  </div>
  <div class="form-group form-check" id="campo">
    <input type="checkbox" class="form-check-input">
    <label class="form-check-label" for="exampleCheck1">Confirmo as informações acima.</label>
  </div>
    <a id="add-link" href="">
        <div class="col-2 add div">
            <i class="fas fa-plus"></i> Enviar
        </div>
    </a>
{% endblock %}